@use '../../primitive/_spacers' as *;

$size-1: $spacer-1;
$size-2: $spacer-2;
$size-3: $spacer-3;
$size-4: $spacer-4;
$size-5: $spacer-5;
$size-6: $spacer-6;
$size-7: $spacer-7;
$size-8: $spacer-8;
$size-9: $spacer-9;
$size-10: $spacer-10;
