@use '../../primitive/clr/_green' as *;

$highlight-100: $green-0;
$highlight-200: $green-1;
$highlight-300: $green-2;
$highlight-400: $green-3;
$highlight-500: $green-4;
$highlight-600: $green-5;
$highlight-700: $green-6;
$highlight-800: $green-7;
$highlight-900: $green-8;
$highlight-1000: $green-9;
