@use '../../primitive/clr/_neutral' as *;

$neutral-100: $neutral-0;
$neutral-200: $neutral-1;
$neutral-300: $neutral-2;
$neutral-400: $neutral-3;
$neutral-500: $neutral-4;
$neutral-600: $neutral-5;
$neutral-700: $neutral-6;
$neutral-800: $neutral-7;
$neutral-900: $neutral-8;
$neutral-1000: $neutral-9;
