@use '../../primitive/clr/_green' as *;

$success-100: $green-0;
$success-200: $green-1;
$success-300: $green-2;
$success-400: $green-3;
$success-500: $green-4;
$success-600: $green-5;
$success-700: $green-6;
$success-800: $green-7;
$success-900: $green-8;
$success-1000: $green-9;
