$neutral-0: #ffffff;
$neutral-1: #f0f7ef;
$neutral-2: #d7e4d6;
$neutral-3: #b3c4b4;
$neutral-4: #899a8b;
$neutral-5: #5e6b60;
$neutral-6: #38413a;
$neutral-7: #1d221e;
$neutral-8: #0d0f0e;
$neutral-9: #070807;
