@use '../../abstract/' as *;

@for $i from 0 through 4 {
	.flex-grow-#{$i} {
		flex-grow: $i;
	}

	@include mq('md') {
		.flex-grow-md-#{$i} {
			flex-grow: $i;
		}
	}

	@include mq('sm') {
		.flex-grow-sm-#{$i} {
			flex-grow: $i;
		}
	}
}
