@use '../../semantic/clr' as *;

$clr-sur-page: $neutral-100;
$clr-sur-primary: $primary-600;
$clr-sur-secondary: $neutral-900;
$clr-sur-overlay: $neutral-100;
$clr-sur-disabled: $neutral-200;
$clr-sur-selected: $highlight-600;
$clr-sur-deselected: $neutral-300;
$clr-sur-success: $success-400;
$clr-sur-information: $information-200;
$clr-sur-error: $error-400;
$clr-sur-warning: $warning-300;
$clr-sur-action-1: $primary-600;
$clr-sur-action-1-hover: $primary-700;
$clr-sur-action-1-pressed: $primary-800;
$clr-sur-warning: $warning-300;
$clr-sur-action-2: $neutral-100;
$clr-sur-action-2-hover: $neutral-200;
$clr-sur-action-2-pressed: $neutral-300;
